@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  background-color: #e8f9b8;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
button {
  background-color: #e8f9b8;
  border: 2px solid #8af58a;
  border-radius: 10px;
  color: #085e08;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-duration: 0.5s;
  outline: 0;
}

button:hover {
  background-color: #8af58a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#description {
  display: none;
}

#scoreList {
  display: none;
}

div {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding-top: 100px;
}

header {
  width: 100%;
  float: left;
  text-align: center;
  height: 50px;
  padding-top: 5px;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 600px;
  border: 1px solid #8af58a;
}

td, th {
  border: 1px solid #8af58a;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #effbd0;
}

#typer {
  color: #085e08;
  -webkit-animation-name: changeColors;
  -webkit-animation-duration: 10s;
  animation-name: changeColors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-size: 55px;
  display: inline-block;
  padding: 10px 32px;
}

@keyframes changeColors {
  0% {color: #085e08;}
  25% {color: #0099cc;}
  50% {color: #cc00ff;}
  75% {color: #ff9933;}
  100% {color: #085e08;}
}
